@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Tiro+Devanagari+Sanskrit&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Serif', serif;
    font-family: 'Tiro Devanagari Sanskrit', serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)), url("img/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.row{
    width: 100%;
    padding: 0px 80px;
    position: inherit;
}
.navbar{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    z-index: 1;
    padding-right: 150px;
}
.navbar ul{
    display: flex;
    justify-content: center;
    align-items: right;
    margin-top: 10px;
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    padding: 10px 18px;
    border-radius: 5px;
    font-family: sans-serif;
    font-size:16px ;
    color: #fff;
    text-decoration: none;
}
.navbar ul li a:hover{
    background-color: #4F7942;
    transition: .5s;
}
.navbar h1{
    color: #fff;
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 10px;
}
.content{
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content h1{
    font-size: 80px;
    color: #4F7942;
    opacity: 50%;
    font-weight: 400;
}
.content p{
    font-size: 28px;
    color: #C3C2BB;
    text-align: center;
    padding: 10px;
}
.content a{
    text-decoration: none;
    margin-top: 20px;
    font-size: 21px;
    display: inline-block;
    letter-spacing: 2px;
    padding: 12px 20px;
    background-color: #4F7942;
    border-radius: 5px;
    color: #C3C2BB;
}
.content a:hover{
    background-color: #4F7942;
    transition: .8s;
}
.introduction{
    padding: 300px;
    background-color: black;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.introduction h2{
    font-size: 60px;
    color: #C3C2BB;
    text-align: center;
    font-weight: 400;
}
.introduction p{
    font-size: 16px;
    color: #C3C2BB;
    letter-spacing: 1px;
    text-align: center;
}
.introduction span{
    color: #4F7942;
}
/*--Contact Us--*/
section{
    padding: 40px 15%;
}

.contact{
    background: black;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    grid-gap: 6rem;
}

.contact-img img{
    max-width: 100%;
    width: 720px;
    height: auto;
    border-radius: 10px;
}

.contact-form h1{
    font-size: 80px;
    color: #4f7942;
    margin-bottom: 20px;
    text-align: center;
}

.contact-form p{
    color: #C3C2BB;
    letter-spacing: 1px;
    line-height: 26px;
    font-size: 1.1rem;
    margin-bottom: 3.8rem;
    text-align: center;
}

.contact-form form{
    position: relative;
}

.contact-form form input, form textarea{
    width: 100%;
    padding: 17px;
    border: none;
    outline: none;
    background: #191919;
    color: #C3C2BB;
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
    border-radius: 10px;
    opacity: 75%;
}

.contact-form textarea{
    resize: none;
    height: 200px
}



.contact-form form .btn{
    display: inline-block;
    background: #4F7942;
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 10px;
    width: 220px;
    transition: ease .20s;
    cursor: pointer;
}

.contact-form form .btn:hover{
    border: 2px solid #4F7942;
    background: transparent;
    transform: scale(1.1);
}
@media(max-width: 1090px){
    .contact{
        grid-gap: 2rem;
        transition: .3s;
    }
}

@media(max-width: 1000px){
    .contact{
        grid-template-columns: 1fr;
    }
    .contact_form{
        order: 2;
    }
    .contact-img img{
        max-width: 100%;
        width: 100%;
        height: auto;
        text-align: center;
        margin-bottom: 30px;
    }
}

html{
    scroll-behavior: smooth;
}
